# Aide : https://github.com/loutik/digest/blob/main/README.md#2-pr%C3%A9parer-le-fichier-denvironnement

UPDATE_TIME=300
MINIFLUX_DOMAIN="miniflux.exemple"
MINIFLUX_TOKEN="token-api-miniflux"
DEBUG_MODE="INFO"
TIMEZONE="Europe/Paris"